<form class="form-horizontal" role="form">
  <script cam-script type="text/form-script">
    inject([ '$scope', '$http', function($scope, $http) {
      camForm.on('form-loaded', function() {
        camForm.variableManager.fetchVariable('cotacao');
      });
      camForm.on('variables-fetched', function() {
        $scope.cotacao = camForm.variableManager.variableValue('cotacao');
      });
    }]);
  </script>
  <div class="form-group">
    <label for="moeda" class="col-sm-2 control-label">Moeda</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="moeda" cam-variable-name="moeda" cam-variable-type="String"
        disabled="disabled" />
    </div>
  </div>
  <div class="form-group">
    <label for="compra" class="col-sm-2 control-label">Compra</label>
    <div class="col-sm-10">
      <div class="input-group">
        <span class="input-group-addon">R$</span>
        <input type="text" class="form-control" name="compra" ng-model="cotacao.ticker.buy" disabled="disabled" />
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="venda" class="col-sm-2 control-label">Venda</label>
    <div class="col-sm-10">
      <div class="input-group">
        <span class="input-group-addon">R$</span>
        <input type="text" class="form-control" name="venda" ng-model="cotacao.ticker.sell" disabled="disabled" />
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="decisao" class="col-sm-2 control-label">Decisão</label>
    <div class="col-sm-10">
      <select class="form-control" name="decisao" cam-variable-name="decisao" cam-variable-type="String" required>
        <option value="">-- Selecione uma decisão --</option>
        <option value="COMPRAR">Comprar</option>
        <option value="NAO_COMPRAR">Não comprar</option>
        <option value="COTAR_NOVAMENTE">Cotar novamente</option>
      </select>
    </div>
  </div>
</form>